In [3]:
x = 5
y = 3.4
z = "Alice" 
print (x)

5

In [7]:
x = 2
name = "Christiano"
age = 30
height = 1.87
# print("Name: ", name, "Age: ", age)
print(f"Name {name}, Age {age}, Height {height}")

Name Christiano, Age 30, Height 1.87

In [ ]:
y = 4.2
x = "Asencio"
y = 12
is_
print (y)

12

In [10]:
print (type(y))

<class 'int'>

In [14]:
x = bool(10)
type(x)

bool

In [1]:
myvar = "Nigel"
MYVAR = "Nigel"
myVar = "Nigel"
my_var = "Nigel"
Myvar = "Nigel"

In [3]:
x = 10
y = 3

sum = x + y
difference = x - y
product = x * y
quotient = x / y
print (sum)

13

In [9]:
x = 5
print (x > 3 and x < 10)
print (x > 3 or x < 4)
print (not (x > 3 and x < 10))

True
True
False

In [14]:
x = 5
x += 3
x -= 2

print(x)

6

In [15]:
x = 10 + 5 * 2
x

20

In [21]:
greeting = "Wsp, " + "brontosaurus?"
greeting

'Wsp, brontosaurus?'

In [19]:
age = 12
is_adult = age >= 18
is_adult

False

In [23]:
name = input("Enter your name: ")
print (f"Hello, {name}!")

Hello, Nigel!

In [31]:
age = int(input("Enter your age, gng: "))
print (f"Damn, you'll be old in five years!!! {age + 5}")

Damn, you'll be old in five years!!! 23

In [34]:
age_input = input ("Bestow your age, gng: ")
age = int(age_input)
print (f"G, GO PAY YOUR TAXES lol, {age + 5}")

G, GO PAY YOUR TAXES lol, 22

In [37]:
price = float(input ("Enter da price, gng: "))
print (f"The price with tax is: {price * 0.10 + price} ")

The price with tax is: 220.0

In [39]:
name = input("Enter your name: ")
print (f"Hello and welcome, {name}, to our self-help line.")

Hello and welcome, Jacob, to our self-help line.

In [50]:
hours = int(input("Enter the amount of hours: "))
rate_per_hour = float(input("How much are you paid per hour?"))
print (f"Your gross pay is: Kshs.{hours * rate_per_hour}")

Your gross pay is: Kshs.679.2

In [55]:
width = 17
height = 12.0

print(width // 2, type(width // 2))
print(width / 2.0, type(width / 2.0))
print(height / 3, type(height / 3))
print(1 + 2 * 5, type(1 + 2 * 5))

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

In [52]:
celsius = int(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"Temperature in Fahrenheit: {fahrenheit}F")

Temperature in Fahrenheit: 78.8F

## CONDITIONAL

In [62]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [63]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [65]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is less than 5

In [88]:
year = int(input("Enter year: "))
if year % 4 == 0:
    print (f"{year} is a leap year")
else:
    print (f"{year} is not a leap year")

1988 is a leap year

In [74]:
grade = int(input("Enter your grade: "))
if grade >= 80:
    print("Grade is A")
elif grade >= 70:
    print("Grade is D!")   
else:
    print("U")

U

In [ ]:
amount = float(input("Enter amount: "))
currency = input("Enter currency (USD, EUR)")
currency = currency.upper()
local_currency = "KES"
if currency == "USD":
    converted_amount = amount * 100
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")
else:
    converted_amount = amount * 150
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")

100.0 EUR is equal to 15000.0 KES

In [89]:
amount = float(input("Enter amount: "))
currency = input("Enter currency (USD, EUR)")
currency = currency.upper()
local_currency = "KES"
if currency == "USD":
    converted_amount = amount * 100
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")
elif currency == "EUR":
    converted_amount = amount * 150
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")  
else:
    print("Bro, we don't know what ts is, gng.")

Bro, we don't know what ts is, gng.

In [86]:
num = int(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Number is zero")
    else:
        print("Number is positive")
else: 
    print("Number is negative")

Number is zero

In [93]:
try:
    num = int(input("Enter a number: "))
    if num >= 0:
         if num == 0:
            print("Number is zero")
         else:
             print("Number is positive")
    else: 
        print("Number is negative") 
except ValueError:
     print("Invalid input. Please enter a valid number.")

Invalid input. Please enter a valid number.

In [95]:
range(10)

range(0, 10)

In [104]:
# range(3)
for i in range(2):
    print(i)

0
1

In [100]:
for i in range(4):
    print("Hello")

Hello
Hello
Hello
Hello

In [112]:
for i in range (100, 1100, 100):
    print(i)

100
200
300
400
500
600
700
800
900
1000

In [114]:
for i in range (1, 11):
    i = i * 100
    print(i)

100
200
300
400
500
600
700
800
900
1000

In [115]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [116]:
dates = [1992,1990,1993,1998,2000,2003,2005,2007,2009]
for date in dates:
    print(date)

1992
1990
1993
1998
2000
2003
2005
2007
2009

In [117]:
dates = [1992,1990,1993,1998,2000,2003,2005,2007,2009]
N = len(dates)

for i in range(N):
    print(dates[i])

1992
1990
1993
1998
2000
2003
2005
2007
2009

In [118]:
colors =["red", "yellow", "green", "purple", "blue"]

for i, color in enumerate(colors):
    print(i, color)

0 red
1 yellow
2 green
3 purple
4 blue

In [119]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is even af")
    else:
        print(f"{i} is kinda odd gng")

1 is kinda odd gng
2 is even af
3 is kinda odd gng
4 is even af
5 is kinda odd gng
6 is even af
7 is kinda odd gng
8 is even af
9 is kinda odd gng
10 is even af

In [121]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [122]:
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [20]:
# Upto 1973
dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)
print("It took", i ,"repetitions to get out of da loop.")

1982
1980
1973
It took 3 repetitions to get out of da loop.

In [3]:
# Star Traingle
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

In [6]:
# Sum Total, I believe?
n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total += i
print("Cumulative sum is:", total)

Cumulative sum is: 15

In [10]:
# Times Table
num = int(input("Enter preferred number: "))
limit = int(input("Multiply Max: "))

for i in range(0, limit + 1):
    print(num, "x", i, "=", num * i)

12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [15]:
# Calculator?
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")

if operator == "+":
    print("Result:", num1 + num2)

elif operator == "-":
    print("Result:", num1 - num2)

elif operator == "*":
    print("Result:", num1 * num2)

elif operator == "/":
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Cannot divide by zero")

else:
    print("Invalid operator")

Cannot divide by zero

In [ ]:
# Prime Number?
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    i = 2
    is_prime = True

    while i < num:
        if num % i == 0:
            is_prime = False
        i += 1
    if is_prime:
        print("This is a prime number")
    else:
        print("This is not a prime number")

This is a prime number

In [1]:
import random
Random_number = random.randint(0,100)
No_of_Guesses = int(input("Enter the number of guesses: "))

for i in range(No_of_Guesses):
    User_no = int(input("Enter a number: "))
    if User_no == Random_number:
        print("ISW you're cheating!")
        break
    if User_no > Random_number:
        print("BOOOMBOCLAAATTTT!!!!")
    if User_no < Random_number:
        print("Grow larger, gng")
    if i == No_of_Guesses - 1 and User_no != Random_number:
        print(f"You're gone bruh!!! XD {Random_number}")

BOOOMBOCLAAATTTT!!!!
BOOOMBOCLAAATTTT!!!!
BOOOMBOCLAAATTTT!!!!
BOOOMBOCLAAATTTT!!!!
BOOOMBOCLAAATTTT!!!!
ISW you're cheating!

In [26]:
name = "Nigel"
type(name)

str

In [ ]:
# BUILT IN FUNCTIONS
numbers = [1, 2, 3, 4, 5]
# type(numbers)
# max(numbers)
# min(numbers)
len(numbers)

5

In [31]:
greeting = "Sup, gng?"
len(greeting)

9

In [36]:
import math
number = 16
math.sqrt(number)

4.0

In [40]:
number = 4.345
# int(number)
round(number)

# uhhhhhhhhhhhhhhhh

4

In [46]:
import random
random_numero = random.randint(1, 10)
# random_numero = random.randint(1, 100)
print(random_numero)

# random number lol

8

In [ ]:
# Making a function! (w/ no parameters)
def welcome_msg():
    print("Welcome to the Python class!")

welcome_msg()

Welcome to the Python class!

In [49]:
def add(x, y): # Up here, whatever's in the parantheses is a PARAMETER
    return x + y

add(7, 9) # Here, it's an ARGUMENT.

16

In [50]:
def greeting(name, age):
    print(f"My name is {name}, and I am {age} years old!")

greeting("Sue", "9")

My name is Sue, and I am 9 years old!

In [52]:
def greeting(name, age):
    print(f"My name is {name}, and I am {age} years old!")

greeting("9", "Sue")  # lol

My name is 9, and I am Sue years old!

In [55]:
greeting(name="Yasuke", age="8")

My name is Yasuke, and I am 8 years old!

In [119]:
def greet(name = "Friend", greeting = "Hi,"):
    print(f"{greeting} {name}")

greet()    
greet("Arnold")
greet("Watterson", "Harro!")

Hi, Friend
Hi, Arnold
Harro! Watterson

In [67]:
def sumall(*args):
    total = 0
    for i in args:
        total += i
    return total

print(sumall(1, 2, 3, 4, 5, 6,))

21

In [117]:
def printinfo (**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

printinfo(name = "Hakari", age = "19", country = "Japan")

name: Hakari
age: 19
country: Japan

In [ ]:
# Fruitful func
def check_number(number):
    if number % 2 == 0:
        return True
    else:
        return False
check_number(1909)

False

In [ ]:
# Fruitful func 2
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "0"
    
check_number(-90)

'Negative'

In [ ]:

def greet(name, age):
    print(f"My name is {name}, and I am {age} years old")
greet("Nigel", "12")

My name is Nigel, and I am 12 years old

In [89]:
def myfunc():
    w = 10
    print(w)
myfunc()
print(w)

10

NameError: name 'w' is not defined

In [93]:
g = 54
def show_value():
    print(g)

show_value()
# print(g)

54

In [ ]:
def calculate_transaction(amount):
    if amount <= 1000:
        fee = 15
    elif amount <= 5000:
        fee = 30
    elif amount <= 10000:
        fee = 50
    else:
        fee = 75

    total = amount + fee
    return total

amount = float(input("Enter the transaction amount: "))
total_amount = calculate_transaction(amount)    
print(f"The total amount including the fee is: {total_amount}")

The total amount including the fee is: 215.0

In [116]:
def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    elif score >= 50:
        return "E"
    elif score >= 40:
        return "F"
    else:
        return "U"
    
score = int(input("What was your test score?"))
calculate_grade(score)

'A'

In [108]:
def area_of_square(side):
    return side ** 2

area_of_square(15)

225

In [109]:
def area_of_rectangle(length, width):
    return length * width

area_of_rectangle(5, 8)

40

In [111]:
import math
def area_of_circle(radius):
    return math.pi * radius ** 2

area_of_circle(10)

314.1592653589793

In [143]:
word = "Super Idol"
word[6]

'I'

In [150]:
s= "Programming"
# s[0:5]
# s[:] # whole string
# s[:4]
# s[3:]
# s[-7:]
s[3:6]

'gra'

In [153]:
# s[0:11]
# s[0:11:2]
# s[::2]
# s[0:11:3]
s[::-1]

'gnimmargorP'

In [155]:
p = "REGGIN"
p[::-1]

'NIGGER'

In [157]:
name = "Nigel"
greeting = "Hello"
message = name + " " + greeting
print(message)

Nigel Hello

In [158]:
name = "Nigel"
age = 18

print(f"My name is {name} and I am {age} years old.")

My name is Nigel and I am 18 years old.

In [160]:
price = 45.565775
print(f"The price is ${price:.2f}")

The price is $45.57

In [164]:
print("My name is \"Nigel\" and I am 18 years old.")

My name is "Nigel" and I am 18 years old.

In [167]:
text = "Wsp, Gang?"
print(text.lower())
print(text.upper())
print(text.title())
print(text.capitalize())

wsp, gang?
WSP, GANG?
Wsp, Gang?
Wsp, gang?

In [168]:
msg = "    clean me    "
print(msg.strip())

clean me

In [169]:
sentence = "Python is great"
new_sentence = sentence.replace("great", "PEAK!")
print(sentence)
print(new_sentence)

Python is great
Python is PEAK!

In [171]:
phrase = "I love Python love programming love Python"
# phrase.count("love")
len(phrase)

42

In [174]:
word = "Python"
# len(word)
# range(len(word))
for i in range(len(word)):
    print(word[i])

P
y
t
h
o
n

In [175]:
word = "Python"
i = 0
while i < len(word):
    print(word[i])
    i += 1

P
y
t
h
o
n

In [180]:
# opening a file
file = open("trial2.txt", "w")

In [183]:
file.write("This is my first line")
file.close()

In [184]:
file = open("trial2.txt", "r")
content = file.read()
print(content)

This is my first line

In [22]:
file = open("trial2.txt", "r")
file.write("This is the second line \n")
file.write("This is the third line \n")
file.write("This is the fourth line")

UnsupportedOperation: not writable

In [11]:
file = open("trial2.txt", "r")
content = file.read()
print(content)

This is the second line
This is the third line
This is the fourth line

In [12]:
file = open("trial2.txt", "r")
lines = file.readline()
print(lines)

This is the second line

In [10]:
with open("trial2.txt", "r") as file:
    content = file.read()
    print(content)

This is the second line
This is the third line
This is the fourth line

In [17]:
with open("anthem.txt", "w") as file:
    file.write("Oh God of all creation \n")
    file.write("Bless this our land and nation \n")

In [18]:
with open("anthem.txt", "a") as file:
    file.write("Justice be our shield and defender \n")
    file.write("May we dwell in unity \n")

_IncompleteInputError: incomplete input (2189152222.py, line 4)

In [19]:
with open("anthem.txt", "r") as file:
    content = file.read()
    print(content)

Oh God of all creation
Bless this our land and nation
Justice be our shield and defender
May we dwell in unity

In [23]:
sentence = input("Your sentence?")

words_used = sentence.split()
print("Here's the number of words used:", len(words_used))

Here's the number of words used: 5

In [26]:
with open("anthem.txt", "r") as file:
    body = file.read()

with open("anthem2.txt", "w") as fileb:
    fileb.write(body)

print("Copied successfully")

Copied successfully

In [27]:
with open("anthem2.txt", "r") as fileg:
    for line in fileg:
        print(line.strip())

Oh God of all creation
Bless this our land and nation
Justice be our shield and defender
May we dwell in unity

In [41]:
string1 = input("First string?")
string2 = input("Second string?")

if sorted(string1) == sorted(string2):
    print(f"{string1} and {string2} are anagrams")
else:
    print(f"{string1} and {string2} are not anagrams")

green and grin are not anagrams