In [3]:
x = 5
y = 3.4
z = "Alice" 
print (x)

5

In [7]:
x = 2
name = "Christiano"
age = 30
height = 1.87
# print("Name: ", name, "Age: ", age)
print(f"Name {name}, Age {age}, Height {height}")

Name Christiano, Age 30, Height 1.87

In [ ]:
y = 4.2
x = "Asencio"
y = 12
is_
print (y)

12

In [10]:
print (type(y))

<class 'int'>

In [14]:
x = bool(10)
type(x)

bool

In [1]:
myvar = "Nigel"
MYVAR = "Nigel"
myVar = "Nigel"
my_var = "Nigel"
Myvar = "Nigel"

In [3]:
x = 10
y = 3

sum = x + y
difference = x - y
product = x * y
quotient = x / y
print (sum)

13

In [9]:
x = 5
print (x > 3 and x < 10)
print (x > 3 or x < 4)
print (not (x > 3 and x < 10))

True
True
False

In [14]:
x = 5
x += 3
x -= 2

print(x)

6

In [15]:
x = 10 + 5 * 2
x

20

In [21]:
greeting = "Wsp, " + "brontosaurus?"
greeting

'Wsp, brontosaurus?'

In [19]:
age = 12
is_adult = age >= 18
is_adult

False

In [23]:
name = input("Enter your name: ")
print (f"Hello, {name}!")

Hello, Nigel!

In [31]:
age = int(input("Enter your age, gng: "))
print (f"Damn, you'll be old in five years!!! {age + 5}")

Damn, you'll be old in five years!!! 23

In [34]:
age_input = input ("Bestow your age, gng: ")
age = int(age_input)
print (f"G, GO PAY YOUR TAXES lol, {age + 5}")

G, GO PAY YOUR TAXES lol, 22

In [37]:
price = float(input ("Enter da price, gng: "))
print (f"The price with tax is: {price * 0.10 + price} ")

The price with tax is: 220.0

In [39]:
name = input("Enter your name: ")
print (f"Hello and welcome, {name}, to our self-help line.")

Hello and welcome, Jacob, to our self-help line.

In [50]:
hours = int(input("Enter the amount of hours: "))
rate_per_hour = float(input("How much are you paid per hour?"))
print (f"Your gross pay is: Kshs.{hours * rate_per_hour}")

Your gross pay is: Kshs.679.2

In [55]:
width = 17
height = 12.0

print(width // 2, type(width // 2))
print(width / 2.0, type(width / 2.0))
print(height / 3, type(height / 3))
print(1 + 2 * 5, type(1 + 2 * 5))

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

In [52]:
celsius = int(input("Enter the temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"Temperature in Fahrenheit: {fahrenheit}F")

Temperature in Fahrenheit: 78.8F

## CONDITIONAL

In [62]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [63]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [65]:
x = int(input("Enter a value, gng: "))
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is less than 5

In [88]:
year = int(input("Enter year: "))
if year % 4 == 0:
    print (f"{year} is a leap year")
else:
    print (f"{year} is not a leap year")

1988 is a leap year

In [74]:
grade = int(input("Enter your grade: "))
if grade >= 80:
    print("Grade is A")
elif grade >= 70:
    print("Grade is D!")   
else:
    print("U")

U

In [ ]:
amount = float(input("Enter amount: "))
currency = input("Enter currency (USD, EUR)")
currency = currency.upper()
local_currency = "KES"
if currency == "USD":
    converted_amount = amount * 100
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")
else:
    converted_amount = amount * 150
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")

100.0 EUR is equal to 15000.0 KES

In [89]:
amount = float(input("Enter amount: "))
currency = input("Enter currency (USD, EUR)")
currency = currency.upper()
local_currency = "KES"
if currency == "USD":
    converted_amount = amount * 100
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")
elif currency == "EUR":
    converted_amount = amount * 150
    print(f"{amount} {currency} is equal to {converted_amount} {local_currency}")  
else:
    print("Bro, we don't know what ts is, gng.")

Bro, we don't know what ts is, gng.

In [86]:
num = int(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Number is zero")
    else:
        print("Number is positive")
else: 
    print("Number is negative")

Number is zero

In [93]:
try:
    num = int(input("Enter a number: "))
    if num >= 0:
         if num == 0:
            print("Number is zero")
         else:
             print("Number is positive")
    else: 
        print("Number is negative") 
except ValueError:
     print("Invalid input. Please enter a valid number.")

Invalid input. Please enter a valid number.

In [95]:
range(10)

range(0, 10)

In [104]:
# range(3)
for i in range(2):
    print(i)

0
1

In [100]:
for i in range(4):
    print("Hello")

Hello
Hello
Hello
Hello

In [112]:
for i in range (100, 1100, 100):
    print(i)

100
200
300
400
500
600
700
800
900
1000

In [114]:
for i in range (1, 11):
    i = i * 100
    print(i)

100
200
300
400
500
600
700
800
900
1000

In [115]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [116]:
dates = [1992,1990,1993,1998,2000,2003,2005,2007,2009]
for date in dates:
    print(date)

1992
1990
1993
1998
2000
2003
2005
2007
2009

In [117]:
dates = [1992,1990,1993,1998,2000,2003,2005,2007,2009]
N = len(dates)

for i in range(N):
    print(dates[i])

1992
1990
1993
1998
2000
2003
2005
2007
2009

In [118]:
colors =["red", "yellow", "green", "purple", "blue"]

for i, color in enumerate(colors):
    print(i, color)

0 red
1 yellow
2 green
3 purple
4 blue

In [119]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i} is even af")
    else:
        print(f"{i} is kinda odd gng")

1 is kinda odd gng
2 is even af
3 is kinda odd gng
4 is even af
5 is kinda odd gng
6 is even af
7 is kinda odd gng
8 is even af
9 is kinda odd gng
10 is even af

In [121]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [122]:
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
# Upto 1973
dates = [1982, 1980, 1973, 2000]
i = 0
while i < len(dates) and dates[i] != 1973:
    print("Year:", dates[i])
    i += 1
if i < len(dates):
    print("Year:", dates [i])

Year: 1982
Year: 1980
Year: 1973

In [ ]:
# Star Traingle
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****
******

In [16]:
# Sum Total, I believe?
n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total += i
print("Sum =", total)

Sum = 55

In [ ]:
# Times Table
num = int(input("Enter a number: "))
limit = int(input("Multiply upto: "))

for i in range(1, limit + 1):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Calculator?
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")

if operator == "+":
    print("Result:", num1 + num2)

elif operator == "-":
    print("Result:", num1 - num2)

elif operator == "*":
    print("Result:", num1 * num2)

elif operator == "/":
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Cannot divide by zero")

else:
    print("Invalid operator")

Result: 408.0

In [ ]:
# Prime Number?
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    i = 2
    is_prime = True

    while i < num:
        if num % i == 0:
            is_prime = False
        i += 1
    if is_prime:
        print("This is a prime number")
    else:
        print("This is not a prime number")

This is a prime number